* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(128, 128, 128, 0.425);
}

#dynamic_List {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#dynamic_List input {
  width: 15rem;
  margin-top: 1rem;
  padding: 5px;
  border-radius: 5px;
}

#dynamic_List button {
  margin-top: 1rem;
  width: 4rem;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

#search #sorting {
  width: 10rem;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

#search input {
  width: 14rem;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

#container {
  margin-top: 2rem;
  background-color: rgb(0, 217, 255);
}

#container>div {
  background-color: darkslategray;
  width: 80%;
  border: 2px solid black;
  margin-left: 10%;
  margin-top: 1rem;
  line-height: 2rem;
  text-align: center;
  color: white;
}